/*---------Basic Typography---------*/

*{
    margin:0;
    padding:0;
    font-family: 'Noto Serif', serif;
}
.flex{
    display:flex;
}
.box-sd-border-red{
    box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
}
.orange{
    color:orange;
}

/*---------Welcome and shop section---------*/

.welcome-details{
    width: 50%;
    margin:5% 5%;
}
.welcome-details img{
    width:100%;
}
.welcome-details h1{
    font-size: 70px;
    width:80%;
    margin-top: 20%;
    padding-bottom: 5%;
    color: #444444;
}
.welcome-details p{
    width: 80%;
    color: #828282;
    font-size:20px;
    margin-bottom: 12%;
}
.button{
    padding:20px 40px;
    background: linear-gradient(45deg,#E82A41, #EB6076);
    border-radius: 40px;
    color:white;
    font-weight:bold;
    text-decoration:none;
}
.shop-bg{
    background: url(images/bg/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------Menu section---------*/

.menu{
    margin-top: 3%;
}
.section-title{
    text-align: center;
    padding: 2%;
    width:600px;
    margin: 0 auto;
}
.section-title h1{
    font-size: 40px;
    padding: 5px;
    color: #444444;
}
.single-item{
    width: 30%;
    margin: 1% 5% 5% 5%;
}
.single-item img{
    width:92%;
    height: 40%;
    padding:15px;
    border-radius: 30px;
}
.single-item h2{
    font-size: 30px;
    padding: 15Px;
    color: #444444;
}
.single-item p{
    width: 90%;
    padding: 0 10px 0 20px;
    line-height: 35px;
}

/*---------Review section---------*/


.review-parts{
    background: url(images/bg/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 0;
}
.cook-part{
    width: 40%;
    margin-left: 3%;
}
.cook-part h2{
    padding: 30px 0;
    color: #444444;
}
.single-part{
    width:24%;
    margin-left: 4%;
    padding:2%;
}
.single-part img{
    width:90%;
    height: 60%;
}
.single-part h2{
    padding: 10px 0;
}

/*---------Social section---------*/

.social-part{
    width: 90%;
    margin: 5%;
    padding: 2% 0;
}
.single-social-part{
    width: 30%;
    padding: 3% 10%;
}
.single-social-part h1{
    font-size: 50px;
}

/*---------Footer section---------*/

.footer-part{
    text-align: center;
    background-color: #0B0D17;
    padding: 3% 0 7% 0;
}
.footer-part h1{
    color: #5B5B5B;
    font-size:50px;
    text-transform: uppercase;
}
.footer-part p{
    color: white;
    padding:1%;
}